body, html {
    height: 100%;
    margin: 0px;
}

.background-image {
    /* The image used */
    background-image: url(audience-band-concert-1306791.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.search-bar {
    color:white;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif !important;
}

a {
    font-family: 'Changa', sans-serif !important;
}

.input-field {
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

/* .search-row {
    margin-top: 15%;
} */

.left-div, .right-div {
    position: relative;
    height: 200px;
}

.left-Btn1, .left-Btn2, .right-Btn1, .right-Btn2 {
    height: 65px;
    clear: left;
    margin: 20px auto;
    text-align: center;
    
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

p {
    color: white;
    font-family: 'Gothic A1', sans-serif !important;
    /* margin: 4px auto; */
}

.p-main {
    font-size: 26px;
    clear:both;
}

.p-sub {
    font-size: 12px;
    float: left;
    margin-top:10px;
}

.main-container {
    margin-top: 15%;
}

* {
    border: 1px solid white !important;
}