
body, html {
    height: 100%;
    margin: 0px;
}

.background-image {
    /* The image used */
    background-image: url(audience-band-concert-1306791.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.search-bar {
    color:white;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif !important;
}

a {
    font-family: 'Changa', sans-serif !important;
}

.input-field {
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.search-row {
    margin-top: 15%;
}