body, html {
    height: 100%;
    margin: 0px;
}

.background-image {
    /* The image used */
    background-image: url(audience-band-concert-1306791.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.search-bar {
    color:white;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif !important;
}

a {
    font-family: 'Changa', sans-serif !important;
}

.input-field {
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.search-row {
    margin-top: 20%;
}

.left-div, .right-div {
    position: relative;
    height: 200px;
}

.Btn1, .Btn2, .Btn3, .Btn4 {
    height: auto;
    clear: left;
    margin: 10px 0px;
    text-align: center;
    /* border: 1px solid white !important; */
    /* backdrop-filter: blur(10px); */
    border-radius: 25px;
    padding-top: 5px;

    background-color: rgba(0, 0, 0, 0.644);

}

p {
    color: white;
    font-family: 'Gothic A1', sans-serif !important;
}

.p-main {
    font-size: 30px;
    clear:both;
    margin-top:15px;
    font-weight: bold;
}

.p-sub {
    font-size: 16px;
    float: left;
    margin-top:5px;
}

.main-container {
    margin-top: 12%;
}

.row {
    margin-bottom: 5px !important;
    /* margin-top: 5px !important; */
}

img {
    height: 100% !important;
}
